@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-items: center;
  align-items: center;
  padding-right: 3rem;
  gap: 20px;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Battambang";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.navlinks {
  display: flex;
  gap: 8rem;
  margin-right: 3rem;
}
.lgn-btn {
  
  display: flex;
}
.login-signup-btn {
  background-color: #1e90ff;
  border-radius: 20px;
  width: 182px;
  height: 44px;
  margin: 1rem;
  border: none;
  font-size: 1.5rem;
}

.intro {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-family: "Battambang";
  margin-left: 8rem;
  margin-right: 6rem;
  margin-top: 8rem;
}
.t-intro {
  width: 669px;
  margin-top: 2rem;
}
.name {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: 44px;
  line-height: 4rem;
}

.c-intro {
  font-size: 20px;
  line-height: 2rem;
  font-style: normal;
}
.resume-btn {
  background-color: #1e90ff;
  border-radius: 20px;
  width: 250px;
  height: 44px;
  border: none;
  font-size: 1.5rem;
}

img {
  width: 250px;
  height: 317.9px;
  border-radius: 20px;
  margin: 2rem 0 0 4rem;
}

.posts {
  background-color: #edf7fa;
  display: flex;
  justify-content: center;
  font-family: "Battambang";
}
.cards {
  margin: 2rem;
  display: flex;
  gap: 50px;
}

.cards {
  display: flex;
}
.card1,
.card2 {
  align-items: center;
  width: 419px;
  height: 295px;
  /* padding: 1rem; */
  background-color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 1px;
  /* padding-bottom: 0%; */
  margin-top: 2rem;
}
/* .card1{
    margin-left: 8rem;
} */
.cards .title {
  font-weight: bold;
  font-size: 26px;
  line-height: 1rem;
}

.cards .date-title {
  display: flex;
}
.date-title {
  display: flex;
  align-items: center;
}

.date-title p {
  margin: 0;
}

.date-title p + p::before {
  content: " | ";
  margin: 0 5px;
}
.featured-work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Battambang";
}

.featured-work {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 70%;
}
.featured-work img {
  border-radius: 0%;
  width: 246px;
  height: 175.75px;
}
.btn-tit {
  display: flex;
  gap: 40px;
}
.y-btn {
  background-color: #1e90ff;
  border-radius: 20px;
  width: 90.98px;
  height: 39px;
  border: none;
  font-size: 1.5rem;
}
.btn-tit p {
  margin-top: 0;
}
.featured-work .content {
  font-size: 16px;
}

.featured-work .titl {
  margin-left: 4rem;
}
.featured-work .title {
  font-weight: bold;
  font-size: 28px;
}

.tit {
  font-size: 18px;
  font-weight: bold;
  margin-left: 18rem;
  font-family: "Battambang";
}

/* featured-work-container ::after {
        content: "";
        display: block;
        width: 250%;
        height: 1px;
        background-color: #ccc; 
        margin-top: 20px; 
      } */

.footer {
  display: flex;
  flex-direction: column;
 
  gap: none;
  align-items: center;
}
.social-medias {
  font-size: 50px;
}
.foot-note {
  font-size: 14px;
  font-family: "Battambang";
}




/* LOGIN PAGE */

.login-container{
  width: 1280px;
  height: 832;
  font-family: "Battambang";
}
.container{
  display: grid;
 grid-template-columns: 50% 50%;
}
.image img{
  width:564px ;
  height: 700px;
}
.personal-info{
  width: 716px;
  background-color: #89B2DA;
  height: 700px;
  margin-top: 2rem;
  margin-left: -2rem;


}
.social-login{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.social-login button{
  width: 116px;
  height: 47px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.social-login img{
  width: 24px;
  height: 24px;
  margin: 0;
  
}
.personal-info-container{

padding: 5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
label{
  font-weight: bold;
  font-size: 18px;
}

form button {
width: 397px;
height: 37px;
color: white;
background-color: blue;
margin-bottom: 2rem;
cursor: pointer;
border: none;
}
.creat{
  display: flex;
  gap: 10px;
}
.creat a{
  margin-top: 1rem;
}

.remember-forgot a{
  float: right;
  margin-right: 10rem
}

/*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
@media screen and (max-width: 575px) {
  .intro {
   
    width: 311px;
    display: flex;
    flex-direction: column-reverse;
    height: 1087px;
  
    margin: 0;
    padding: auto;
  }
  .intro img {
    width: 250px;
    height: 317.9px;
    border-radius: 20px;
    margin: 1rem 0 0 1rem;
  }



  .intro .name {
    width: 241px;
    height: 174px;
    font-weight: bold;
    font-size: 32px;
    line-height: 4rem;
    text-align: center;
    line-height: 40px;
  }
  .c-intro {
    font-size: 20px;
    line-height: 2rem;
    font-style: normal;
    width: 325px;
    height: 504px;
    margin-top: -3rem;
  }
  .posts {
    display: flex;
    flex-direction: column;
    font-family: "Battambang";
    width: 375px;
    height: 647px;
    background-color: #edf7fa;
    align-items: center;
    margin: 2rem 0;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .date-title {
    display: flex;
    align-items: center;
  }
  .card1,
  .card2 {
    align-items: center;
    width: 354px;
    height: 275px;
    background-color: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 1px;
    margin-top: 2rem;
  }
  .cards .title {
    font-weight: bold;
    font-size: 22px;
  }
  .tit {
    margin-left: 6rem;
  }
  .featured-work-container {
    width: 375px;
   
  }
  .featured-work {
    width: 337px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .featured-work img {
    margin: 2rem 0 0 2rem;
  }
  .header{
    background-color: transparent;
  }
  .header .menu-icon {
    display: flex;
    flex-direction: column;
  }
  .bar {
    width: 25px;
    height: 3px;
    color: red;
    margin: 4px 0;
  }
  .navlinks , .lgn-btn{
    display: none;
  }


  .login-container{
    width:575px;
 
  }
  .container{
    display: block;
   
  }
  .image img{
    display: none;
  }

}





