@import url("https://fonts.googleapis.com/css2?family=Battambang&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-items: center;
  align-items: center;
  padding-right: 3rem;
  gap: 20px;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Battambang";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.navlinks {
  display: flex;
  gap: 8rem;
  margin-right: 3rem;
 


}
.navlinks a{
  text-decoration: none;
}
.lgn-btn {
  
  display: flex;
}
.login-signup-btn {
  background-color: #1e90ff;
  border-radius: 20px;
  width: 182px;
  height: 44px;
  margin: 1rem;
  border: none;
  font-size: 1.5rem;
}

.intro {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-family: "Battambang";
  margin-left: 8rem;
  margin-right: 6rem;
  margin-top: 8rem;
}
.t-intro {
  width: 669px;
  margin-top: 2rem;
}
.name {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: 44px;
  line-height: 4rem;
}

.c-intro {
  font-size: 20px;
  line-height: 2rem;
  font-style: normal;
}
.resume-btn {
  background-color: #1e90ff;
  border-radius: 20px;
  width: 250px;
  height: 44px;
  border: none;
  font-size: 1.5rem;
}

img {
  width: 250px;
  height: 317.9px;
  border-radius: 20px;
  margin: 2rem 0 0 4rem;
}

.posts {
  background-color: #edf7fa;
  display: flex;
  justify-content: center;
  font-family: "Battambang";
}
.cards {
  margin: 2rem;
  display: flex;
  gap: 50px;
}

.cards {
  display: flex;
}
.card1,
.card2 {
  align-items: center;
  width: 419px;
  height: 295px;
  /* padding: 1rem; */
  background-color: white;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 1px;
  /* padding-bottom: 0%; */
  margin-top: 2rem;
}
/* .card1{
    margin-left: 8rem;
} */
.cards .title {
  font-weight: bold;
  font-size: 26px;
  line-height: 1rem;
}

.cards .date-title {
  display: flex;
}
.date-title {
  display: flex;
  align-items: center;
}

.date-title p {
  margin: 0;
}

.date-title p + p::before {
  content: " | ";
  margin: 0 5px;
}
.featured-work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Battambang";
}

.featured-work {
  display: grid;
  grid-template-columns: 45% 55%;
  width: 70%;
}
.featured-work img {
  border-radius: 0%;
  width: 246px;
  height: 175.75px;
}
.btn-tit {
  display: flex;
  gap: 40px;
}
.y-btn {
  background-color: #1e90ff;
  border-radius: 20px;
  width: 90.98px;
  height: 39px;
  border: none;
  font-size: 1.5rem;
}
.btn-tit p {
  margin-top: 0;
}
.featured-work .content {
  font-size: 16px;
}

.featured-work .titl {
  margin-left: 4rem;
}
.featured-work .title {
  font-weight: bold;
  font-size: 28px;
}

.tit {
  font-size: 18px;
  font-weight: bold;
  margin-left: 18rem;
  font-family: "Battambang";
}

/* featured-work-container ::after {
        content: "";
        display: block;
        width: 250%;
        height: 1px;
        background-color: #ccc; 
        margin-top: 20px; 
      } */

.footer {
  display: flex;
  flex-direction: column;
 cursor: pointer;
  gap: none;
  align-items: center;
}
.social-medias {
  font-size: 50px;
}
.foot-note {
  font-size: 14px;
  font-family: "Battambang";
}




/* LOGIN PAGE */

/* /* .login-container{
  width: 1280px;
  height: 832;
  font-family: "Battambang";
}
.container{
  display: grid;
 grid-template-columns: 50% 50%;
}
.image img{
  width:564px ;
  height: 700px;
}
.personal-info{
  width: 716px;
  background-color: #89B2DA;
  height: 700px;
  margin-top: 2rem;
  margin-left: -2rem;


}
.social-login{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.social-login button{
  width: 116px;
  height: 47px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.social-login img{
  width: 24px;
  height: 24px;
  margin: 0;
  
}
.personal-info-container{

padding: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
label{
  font-weight: bold;
  font-size: 18px;
}

form button {
width: 397px;
height: 37px;
color: white;
background-color: blue;
margin-bottom: 2rem;
cursor: pointer;
border: none;
}
.creat{
  display: flex;
  gap: 10px;
}
.creat a{
  margin-top: 1rem;
}

.remember-forgot a{
  float: right;
  margin-right: 10rem
}  */

/* SIGNUP PAGE */

.rules_regulations{
  display: flex;
  gap: 10px;
}
.rules_regulations a{
  margin-top: 1rem;
}
.personal-info_signup{
  width: 716px;
  background-color: #89B2DA;
  height: 90%;
  margin-top: 2rem;
  margin-left: -2rem;


}
.signup_image img{
  width:564px ;
  height: 90%;
}
  
.coming-soon-container{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;
}
.coming-soon{
  background-color: deepskyblue;
  width: 40vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-blog{
  /* background-color: #1e90ff; */
  width:100%;
}
.container-blog .backgroung-image {

     /* background-image: url(../public/assets/pexels-jess-bailey-designs-788946.jpg);
    background-size: cover; 
    background-repeat: no-repeat;  */
    /* background-attachment: fixed;  */
    /* background-position: fixed; */
    /* width: 100%;
    height: 400px; */
}
.blog-categories{
  /* background-color: #1e90ff; */
  margin-top: 2rem;
  display: flex;
  gap: 30px;
  /* justify-content: center; */
  margin-left: 12rem;
}

.blog-categories .all{
background-color: #1E90FF;
color: white;
}
.blog-categories button{
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;
  
}

.other-posts , .view{
  display: none;
}
.blog-categories span{
 margin-top: 1rem;
}
.blogs{
 display: block;
 margin: 2rem;
 width: 100%;
 margin-left: 0%;
}
.row1{
  display: grid;
  grid-template-columns: auto auto auto;
  /* display: flex;
  flex-direction: row;
  gap: 40px; */
  gap: 10px; 

  
}
.row2{
  display: grid;
  grid-template-columns: auto auto auto;
  /* display: flex;
  flex-direction: row;
  /* gap: 40px; */ 
  margin-top: 3rem;
  gap: 10px; 
 
}
.blog img{
  width: 350px;
  height: 175px;
  flex-shrink: 0;
  /* margin-left: 2rem;
  margin-left: 2rem; */
}
.blog button{
  width: 138px;
  height: 37px;
  background-color: #1E90FF;
  border: none;
  margin-left: 5rem;
}
.blog .blog-title{
  width: 392px;
  height: 62px;
  flex-shrink: 0;
  color: #000;
  font-family: Battambang;
  font-size: 20px;
  font-style: normal;
 font-weight: 700;
 line-height: normal;
 margin-left: 4rem;


}
.blog .author{
  display: flex;
  gap: 10px;
}
.blog .auth-image img{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  
}
.blog .auth-name{
  font-family: Battambang;
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
  font-style: normal;
  margin-top: 1rem;

}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 4rem 0;


}
.pagination button{
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
  cursor: pointer;

}
.pagination .current-page{
  background-color: #1E90FF;
}

/* SINGLE BLOG*/
.single-blog{
  margin-left: 6rem;
}
.top-conta .single-blog-catbutton{
  background-color: #49C649;
  color: white;
  width: 138px;
  height: 37px;
  border: none;

}
.top-conta .single-title{
  color: #000;
font-family: Battambang;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1rem;
}
.sing-author{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: -30px;

 
 
}
.sing-auth-image img {
  width: 50px;
  height: 50px;
 /* flex-shrink: 0; */
 margin-left: 2px;
  border-radius: 50px;

}
.sauth-name{
  margin-top: 30px;
}
.sblog-content{
display: flex;
flex-direction: row;
gap: 20px;
width: 1152px;
/* margin-left: 6rem; */
}
.sing-content{
  /* background-color: #49C649; */
  width: 1000px;

}
.sing-content img{
  width: 700px;
  height: 368px;
  margin-left: 0;
flex-shrink: 0;
}
.srelated-blog img{
width: 80px;
height: 80px;
flex-shrink: 0;
margin-left: 1rem;
}
/* .cat-tit{
  display: flex;
  flex-direction: row;
  gap: 10px;
} */
.s-intro{
  width: 698px;
height: 185px;
flex-shrink: 0;
color: #000;
font-family: Battambang;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.content h3 {
color: #49C649;
font-family: Battambang;
font-size: 13px;
font-style: normal;
font-weight: bold;
line-height: normal;
}

.content p {
color: #000;
font-family: Battambang;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.related{
  
  width: 398px;
  height: 351px;
  flex-shrink: 0;
  border-radius: 5px;
 background: rgba(217, 217, 217, 0.21);
 margin-bottom: 2rem;
}
.related span{
color: #49C649;
font-family: Battambang;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.srel{
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 41px;
}
.related p{
  color: #000;
font-family: Battambang;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1rem;
}

.other-blo{
  width: 398px;
  /* height: 351px; */
  flex-shrink: 0;
 
}
.other-blo span{
 color: #49C649;
font-family: Battambang;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.other-blo p{
  color: #000;
font-family: Battambang;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1rem;
}
.cat-tit span{
  margin-top: 2rem;
}




/*====================MEDIA QUERIES(STUBBORN SMALL DEVICES)==================*/
@media screen and (max-width: 575px) {
  .intro {
   
    width: 311px;
    display: flex;
    flex-direction: column-reverse;
    height: 1087px;
  
    margin: 0;
    padding: auto;
  }
  .intro img {
    width: 250px;
    height: 317.9px;
    border-radius: 20px;
    margin: 1rem 0 0 1rem;
  }



  .intro .name {
    width: 241px;
    height: 174px;
    font-weight: bold;
    font-size: 32px;
    line-height: 4rem;
    text-align: center;
    line-height: 40px;
  }
  .c-intro {
    font-size: 20px;
    line-height: 2rem;
    font-style: normal;
    width: 325px;
    height: 504px;
    margin-top: -3rem;
  }
  .posts {
    display: flex;
    flex-direction: column;
    font-family: "Battambang";
    width: 375px;
    height: 647px;
    background-color: #edf7fa;
    align-items: center;
    margin: 2rem 0;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .date-title {
    display: flex;
    align-items: center;
  }
  .card1,
  .card2 {
    align-items: center;
    width: 354px;
    height: 275px;
    background-color: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 1px;
    margin-top: 2rem;
  }
  .cards .title {
    font-weight: bold;
    font-size: 22px;
  }
  .tit {
    margin-left: 6rem;
  }
  .featured-work-container {
    width: 375px;
   
  }
  .featured-work {
    width: 337px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .featured-work img {
    margin: 2rem 0 0 2rem;
  }
  .header{
    background-color: transparent;
  }
  .header .menu-icon {
    display: flex;
    flex-direction: column;
  }
  .bar {
    width: 25px;
    height: 3px;
    color: red;
    margin: 4px 0;
  }
  .navlinks , .lgn-btn{
    display: none;
  }


  .login-container{
    width:575px;
 
  }
  .container{
    display: block;
   
  }
  .image img{
    display: none;
  }
  .signup_image img{
    display: none;
  }

  /* BLOG */
  .container-blog{
    /* background-color: #49c649; */
    width: 100%;
  }

  
  .container-blog .blog-categories{
    display: none;
  }
  .row1 {
    display:flex ;
    flex-direction: column;
  }
  .row2 {
    display:flex ;
    flex-direction: column;
    margin-top: 0;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 2rem 0;
  
  
  }
  .pagination button{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
  
  }
  .pagination .current-page{
    background-color: #49c649;
    color: white;
  }
  .blog .blog-title{
   margin: -1rem auto ;
   
  
  
  }
  .blog .author{
    display: flex;
    gap: 5px;
    margin-left: 0;
  }
  .blogs{
    gap: 0;
  }

 .blogs img{
  width: 100%;

 
  margin-left: 0;
  
}
.auth-image img{
  margin-left: 0;
 }
 .blog .auth-name{
  font-size: 16px;
  margin-top: 2rem;
  color: #49c649;

}

.category button {
  background-color: #49c649;
  border-radius: 10px;
  margin-left: 0;
  margin-bottom: 0;
  color: white;
}
.blog .author{
 margin-top: -1rem;
}
.other-posts{
display: block;
color: rgba(0, 0, 0, 0.61);
font-family: Battambang;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: -1rem;
}

.view{
  display: flex;
color: #49C649;
font-family: Battambang;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 2rem;
justify-content: center;
}

/* single blog */
.sblog-content{
  display: flex;
  flex-direction: column;
 margin-left: 0;
  }
  .top-conta{
    width: 375px;
  }
  .top-conta .single-title{
    color: #49C649;
    font-size: 14px;

  }
  .single-blog{
    width: 575px;
    margin: 3rem 2rem 0 1rem;
  }
  .sblog-content, .sing-content{
    width: 575px;
  }
  .content p {
    width: 698px;
  }
  .srelated-blog{
  margin-left: 6rem;
  }

}





